body{
    background-color: #1e1e1e;
}
table{
    margin: auto;
    width: 363px;
    border-collapse: collapse;
}
td{
    border: 2px solid lightgray;
    text-align: center;
    width: 121px;
    height: 121px;
    padding: 0;
}
img{
    width: 68px;
    height: 68px;
}
#tvFutebol{
    width: 243px;
    margin-top: 10px;
    margin: auto;
    text-align: center;
    font-family: consolas;
    font-size: 24px;
    color: lightgray;
    padding: 5px;
}